# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/gradle.xml
.idea/misc.xml
*.xml
.idea/misc.xml
.idea/App.iml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
src/main/java/javaFX/HomeController.java
.idea/misc.xml
.idea/compiler.xml
src/main/java/javaFX/HomeController.java
src/main/java/App/GraphicOperations/CsvToGraphic.java
.idea/compiler.xml
.idea/misc.xml
.idea/misc.xml
