graph {
    /*fill-color: #373e43;*/

}
node {
    size: 50px;
    stroke-mode: none;
    fill-color: aquamarine, #254;
    fill-mode: gradient-diagonal1;
    text-alignment: center;
    text-color: white;
    text-size: 20;
}
node:clicked {
    stroke-mode: plain;
    stroke-color: red;
    fill-color: yellow, orange;
    fill-mode: gradient-diagonal1;
}
edge {
    text-alignment: above;
    /*text-background-color: white;*/
    /*text-offset: -50px, -50px;*/
    text-size: 20;
    /*text-color: white;*/
    /*fill-color: white;*/
}


